body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  text-align: center;
}
header {
  background-color: #28a745;
  color: white;
  padding: 15px 0;
  /* espacamento interno de 15px = acima e abaixo */
  /* 0px = esquerda e direita */
  font-size: 24px;
}
nav {
  background-color: #007bff;
  padding: 10px;
  display: flex; /* flexbox */
  justify-content: space-between;
  /* alinhamento na horizontal : espaço entre os links */
  align-items: center;
}
#links-menu {
  /* usa # para fazer ref do id do div */
  display: flex;
  gap: 20px; /* espaco de 20px */
}
/* configura o estilo das âncoras que estao dentro do nav */
nav a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 18px;
  background-color: #005663;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease; /* ease = tipo de velo */
}
nav a:hover {
  /* :hover = ao passar o mouse pelos os icones de navegacao */
  background-color: #003d82; /* cor do fundo vai mudar */
  transform: scale(0.98);
}
img {
  width: 110px; /* largura */
  height: auto;
  margin-right: 20px; /* espacamento a direita de 20px */
  border-radius: 10px;
}
.container {
  width: 70%;
  margin: 20px auto; /* 20 px acima e abaixo e auto direita e esquerda */
  text-align: justify;
  background-color: white;
  padding: 20px; /* nos 4 lados */
  border-radius: 10px;
}
h2 {
  text-align: center;
  margin-bottom: 30px;
}
h3 {
  text-align: center;
  margin-bottom: 5px;
}
table tr td {
  /* apenas TD dentro dos TR mudam */
  border: 2px solid black;
  padding: 10px;
}
table {
  border: 2px solid black;
  margin: 0 auto; /* 0  cima e baixo e automatico para centralizar horizontal */
  border-collapse: collapse;
}
.laranja {
  background-color: #ffc000;
}
.preto {
  background-color: black;
  color: white;
}
.roxo {
  background-color: #ac75d5;
}
.azul {
  background-color: #002060;
  color: white;
}
.verde {
  background-color: #92d050;
}
.vermelho {
  background-color: #ff5b5b;
}
table th {
  padding: 10px;
}
.campos {
  margin: 20px;
}
.containerCinza {
  width: 60%;
  margin: auto;
  padding: 10px 20px;
  background-color: #dbe5f1;
  border: 2px solid black;
  border-radius: 10px;
}
.tableAzul {
  background-color: #dbe5f1;
}
