body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  text-align: center;
}

header {
  background-color: #28a745;
  color: white;
  padding: 15px 0;
  /* espaçamento interno de 15px p acima e abaixo */
  /* 0px na esquerda e direita */
  font-size: 24px;
}

nav {
  background-color: #007bff;
  padding: 10px;
  display: flex;
  /* flexbox */
  justify-content: space-between;
  /* alinhamento na horizontal : espaço entre os links */
  align-items: center;
}

#links-menu {
  /* usa # para fazer ref do id do div */
  display: flex;
  gap: 20px;
  /* espaço de 20px */
}

/* CONFIG DAS ANCORAS QUE ESTAO DENTRO DO NAV */
nav a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 18px;
  background-color: #005663;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  /* ease = é um tipo de velocidade */
}

/* :hover = ao passar o mouse pelos os icones de navegacao */
nav a:hover {
  /* COR DE FUNDO */
  background-color: #003d82;
  transform: scale(0.98);
}

img {
  width: 110px;
  /* largura */
  height: auto;
  margin-right: 20px;
  /* espaçamento a direita de 20px */
  border-radius: 10px;
}

/* TODAS INFORMACOES FICAM DENTRO DESSE CONTAINER */
.container {
  width: 70%;
  margin: 20px auto;
  /* 20 px acima e abaixo || auto direita e esquerda */
  text-align: justify;
  background-color: white;
  padding: 20px;
  /* 20px nos 4 lados */
  border-radius: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  text-align: center;
  margin-bottom: 5px;
}

li {
  margin-bottom: 20px;
}


/* CONFIG VISUAIS DAS TABELAS */
table {
  border: 2px solid black;
  margin: 0 auto;
  /* 0  cima e baixo e automatico para centralizar horizontal */
  border-collapse: collapse;
}

table td {
  text-align: left;
}

table tr td {
  /* apenas TD dentro dos TR mudam */
  border: 2px solid black;
  padding: 10px;
}

table th {
  border: 2px solid black;
  text-align: center;
  padding: 10px;
}

table li {
  text-align: left;
  margin-left: -20px;
  margin-bottom: 20px;
}


/* TABELA GRANDE DAS METAS */
#metasEquipe {
  /* 90% total */
  width: 90%;
  /* centralizar tabela */
  margin: auto;
  margin-bottom: 25px;
}

#metasEquipe th,
td {
  padding: 10px;
  border: 2px solid black;
  text-align: center;
}


/* DIFERENÇAR AS EQUIPES POR CORES NAS TABELAS */
.laranja {
  background-color: #ffc000;
}

.preto {
  background-color: rgb(58, 58, 58);
  color: white;
}

.roxo {
  background-color: #ac75d5;
}

.azul {
  background-color: #002060;
  color: white;
  font-weight: bold;
  border: 2px solid black;
}

.azul th {
  border: 2px solid black;
}

.verde {
  background-color: #92d050;
}

.vermelho {
  background-color: #ff5b5b;
}


/* AVISOS DOS TEXTOS */
.containerAzul {
  text-align: left;
  width: 60%;
  margin: auto;
  padding: 10px 20px;
  background-color: #dbe5f1;
  border: 2px solid black;
  border-radius: 10px;
}

.containerImportante {
  width: 60%;
  margin: auto;
  margin-top: 25px;
  border: 2px solid black;
  font-weight: bold;
  background-color: #edefd5;
  text-align: justify;
  padding: 10px;
}


/* CONFIG DA CALCULADORA */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.campos {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  width: 100%;
  max-width: 350px; /* para usar no max 350px dos 100% do container */
  margin: 0 auto;
}

label {
  margin-bottom: 5px; 
  text-align: center;
}

select {
  margin-top: 10px;
  margin-left: auto; 
  margin-right: auto; 
  max-width: 120px;
}

input {
  padding: 10px;
  width: 95%;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid black;
}

button {
  padding: 10px;
  color: white;
  background-color: #007bff;
  margin-top: 25px;
  font-size: 18px; 
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
button:hover {
  background-color: #005663;
  transform: scale(1.01);
}

#soma {
  padding: 20px;
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  background-color: #d9fff9;
  border: 2px solid #000000;
  border-radius: 5px;
}

#equipe {
  font-size: 18px; 
  padding: 10px;
  border: 2px solid #000000; 
  border-radius: 5px; 
}